.destaque__titulo{
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}



.card-destaque{
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em; 
    display: inline-block;
}

.destaque__star{
    display: flex;
    padding-bottom: 0.5rem;
}

.card-destaque__descricao{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;


}


.card__botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}



.descricao-destaque__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.descricao__autora-livro{
    color: var(--azul-escuro);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;

}

.descricao-destaque__texto{
    font-size: 14px;
}

.botoes-destaque__item{
    margin: 0 0.5em;
}

.botoes-destaque__ancora{
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;

}



.destaque-link-imagem .destaque__imagem {
    margin-left: 0.5em;
    border: 2px solid ;
    border-color: var(--azul-claro);
  }
  
